/* ########################################
############# CUSTOM FONTS ################
######################################## */
/* Provide variable fonts as main format. */
@font-face {
  font-family: 'Inter VF';
  src:
    local('Inter'),
    url('/assets/fonts/inter/Inter-VariableFont_slnt_wght.woff2')
      format('woff2-variations'),
    url('/assets/fonts/inter/Inter-VariableFont_slnt_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/inter/Inter-VariableFont_slnt_wght.ttf')
      format('truetype-variations');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca VF';
  src:
    local('Lexend Deca'),
    url('/assets/fonts/lexend-deca/LexendDeca-VariableFont_wght.woff2')
      format('woff2-variations'),
    url('/assets/fonts/lexend-deca/LexendDeca-VariableFont_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/lexend-deca/LexendDeca-VariableFont_wght.ttf')
      format('ttf-variations');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* Provide static fonts as a fallback. */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('/assets/fonts/inter/static/Inter-Regular.woff2') format('woff2'),
    url('/assets/fonts/inter/static/Inter-Regular.woff') format('woff'),
    url('/assets/fonts/inter/static/Inter-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('/assets/fonts/inter/static/Inter-Bold.woff2') format('woff2'),
    url('/assets/fonts/inter/static/Inter-Bold.woff') format('woff'),
    url('/assets/fonts/inter/static/Inter-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend Deca';
  src:
    local('Inter'),
    url('/assets/fonts/intlexend-decar/static/LexendDeca-Regular.woff2')
      format('woff2'),
    url('/assets/fonts/lexend-deca/static/LexendDeca-Regular.woff')
      format('woff'),
    url('/assets/fonts/lexend-deca/static/LexendDeca-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* ########################################
############# STYLE GUIDE #################
######################################## */
:root {
  --color-accent: #aa5cdb;
  --neutral-50: #ffffff;
  --neutral-100: hsla(0, 0%, 100%, 0.75);
  --neutral-200: hsla(0, 0%, 100%, 0.6);
  --neutral-600: #1b1938;
  --neutral-800: #090b1a;

  --font-size-body: 0.9375rem;
  --font-size-heading: 1.5rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
/* ########################################
############# RESET #######################
######################################## */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
}

a {
  display: inline-block;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-position: inside;
  list-style-type: none;
}

/* ########################################
############# BASIC STYLING ###############
######################################## */
body {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-body);
  font-weight: var(font-weight-regular);
  @supports (font-variation-settings: normal) {
    font-family: 'Inter VF', sans-serif;
  }
}

/* ########################################
############# UTILITIES ###################
######################################## */
/* Hide visually but preserve accessibility. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /*  Defines a rectangle at the specified inset distances from each side of the reference box. */
  /* Similar to: clip-path: rect(0 0 0 0) */
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* ########################################
########### COMPONENT STYLING #############
######################################## */
