/* ########################################
############# CUSTOM FONTS ################
######################################## */
/* Provide variable fonts as main format. */
@font-face {
  font-family: 'Inter VF';
  src:
    local('Inter'),
    url('/assets/fonts/inter/Inter-VariableFont_slnt_wght.woff2')
      format('woff2-variations'),
    url('/assets/fonts/inter/Inter-VariableFont_slnt_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/inter/Inter-VariableFont_slnt_wght.ttf')
      format('truetype-variations');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca VF';
  src:
    local('Lexend Deca'),
    url('/assets/fonts/lexend-deca/LexendDeca-VariableFont_wght.woff2')
      format('woff2-variations'),
    url('/assets/fonts/lexend-deca/LexendDeca-VariableFont_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/lexend-deca/LexendDeca-VariableFont_wght.ttf')
      format('ttf-variations');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* Provide static fonts as a fallback. */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('/assets/fonts/inter/static/Inter-Regular.woff2') format('woff2'),
    url('/assets/fonts/inter/static/Inter-Regular.woff') format('woff'),
    url('/assets/fonts/inter/static/Inter-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('/assets/fonts/inter/static/Inter-Bold.woff2') format('woff2'),
    url('/assets/fonts/inter/static/Inter-Bold.woff') format('woff'),
    url('/assets/fonts/inter/static/Inter-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend Deca';
  src:
    local('Inter'),
    url('/assets/fonts/intlexend-decar/static/LexendDeca-Regular.woff2')
      format('woff2'),
    url('/assets/fonts/lexend-deca/static/LexendDeca-Regular.woff')
      format('woff'),
    url('/assets/fonts/lexend-deca/static/LexendDeca-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* ########################################
############# STYLE GUIDE #################
######################################## */
:root {
  --color-accent: #aa5cdb;
  --color-complementary: #c7db5c;
  --color-neutral-50: #ffffff;
  --color-neutral-100: hsla(0, 0%, 100%, 0.75);
  --color-neutral-200: hsla(0, 0%, 100%, 0.6);
  --color-neutral-600: #1b1938;
  --color-neutral-800: #090b1a;

  --font-size-body-sm: 0.75rem;
  --font-size-body: 0.9375rem;
  --font-size-body-lg: 1.25rem;
  --font-size-heading: 1.85rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --border-radius: 12px;

  --spacing: 2rem;

  --transition-duration-timing: 150ms ease;
}
/* ########################################
############# RESET #######################
######################################## */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
}

html {
  line-height: 1.75;
  box-sizing: border-box;
}

a {
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

/* ########################################
############# BASIC STYLING ###############
######################################## */
body {
  color: var(--color-neutral-100);
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-body);
  font-weight: var(font-weight-regular);
  @supports (font-variation-settings: normal) {
    font-family: 'Inter VF', sans-serif;
  }
}

h1 {
  color: var(--color-neutral-50);
  line-height: 1.2;
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}

/* ########################################
############# UTILITIES ###################
######################################## */
/* Hide visually but preserve accessibility. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /*  Defines a rectangle at the specified inset distances from each side of the reference box. */
  /* Similar to: clip-path: rect(0 0 0 0) */
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* ########################################
########### COMPONENT STYLING #############
######################################## */
.wrapper {
  padding-block: var(--spacing);
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  background-color: var(--color-neutral-800);
}

.card {
  margin-inline: auto;
  width: min(85%, 405px);
  display: grid;
  background-color: var(--color-neutral-600);
  border-radius: var(--border-radius);
  overflow: hidden;
  @media (min-width: 1088px) {
    width: min(100%, 930px);
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-content {
  margin-inline: auto;
  padding: var(--spacing);
  width: min(100%, 420px);
  display: grid;
  align-items: center;
  gap: var(--spacing);

  & .card-hero,
  & .card-stats {
    display: grid;
    gap: calc(0.75 * var(--spacing));
  }

  & .card-hero {
    @media (max-width: 1087px) {
      text-align: center;
    }
  }

  & .card-stats {
    @media (min-width: 1088px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  & .card-stat {
    display: grid;
    gap: calc(0.1 * var(--spacing));

    @media (max-width: 1087px) {
      justify-items: center;
    }

    & .highlight {
      font-size: var(--font-size-body-lg);
    }

    & .topic {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: var(--font-size-body-sm);
      @supports (font-variation-settings: normal) {
        font-family: 'Lexend Deca VF', sans-serif;
      }
    }
  }
}

.card-thumbnail {
  position: relative;

  @media (max-width: 1087px) {
    order: -1;
  }

  & img {
    height: auto;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #aa5cdb;
    filter: saturate(150%) brightness(60%) contrast(180%);
    opacity: 0.5;
  }
}

.highlight {
  color: var(--color-neutral-50);
  line-height: 1.2;
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}

.highlight--accent {
  color: var(--color-accent);
}

.footer {
  padding: calc(0.5 * var(--spacing));
  color: var(--color-neutral-100);
  text-align: center;

  & .footer-icon {
    color: var(--color-accent);
  }

  & .footer-link {
    transition: var(--transition-duration-timing);

    &,
    &:link {
      color: var(--color-neutral-50);
      text-underline-offset: 4px;
    }
    &:visited {
      color: var(--color-neutral-200);
    }
    &:is(:hover, :focus-visible) {
      color: var(--color-accent);
    }
    &:focus-visible {
      outline-color: var(--color-accent);
      text-decoration: none;
    }
    &:active {
      color: var(--color-complementary);
    }
  }
}
